body {
	margin: 0px;
}

header {
	height: 70px;
	background-color: #15c1e5;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
	float: left;
	display: block;
	font-size: 1.5em;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-top: 25px;
	margin-right: 80px;
	margin-bottom: 25px;
	margin-left: 80px;
}
.menu {
	float: right;
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 26px 16px;
	text-decoration: none;
	text-transform: uppercase;
}

.bgGreen {
	background-color: #9bba1f;
}

.bgRed {
	background-color: #f73f3f;
}

.bgYellow {
	background-color: #ffa200;
}

.hero {
	background: url("../images/computer-skills.jpg");
	position: relative;
	min-height: 450px;
	height: 100vh;
	z-index: -1;
	background-size: cover;
}

.circle {
	background: url(../images/utkarsh-sinha.jpg) center center no-repeat;
	background-size: cover;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 20vw;
	height: 20vw;
	margin: 0 auto;
	border-radius: 50%;
}

.name {
	font-size: 3em;
	font-family: Raleway,sans-serif;
	font-weight: 700;
	color: #fff;
	display: block;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	top: 70%;
	left: 40%;
	text-align: center;
}

.skills {
	font-size: 1.75em;
	font-weight: 300;
	color: #fff;
	margin: 10px 0px 10px 0px;
	position: absolute;
	top: 85%;
	left: 35%;
}

#portfolio {
	background: url("../images/interactive-sites.png");
	font-family: Raleway,sans-serif;
	padding-top: 70px;
}

.headingText {
	font-size: 2em;
	font-weight: 700;
	font-family: inherit;
	color: #fff;
	display: block;
	margin: 20px;
	text-align: center;
	text-transform: uppercase;
}

.colorBlue {
	color: #15c1e5;
}

hr {
	width: 240px;
	border : solid 2px;
}

.portfolios {
	width: 1000px;
	height: 300px;
	margin: 50px auto;
}

.portfolio {
	width: 210px;
	height: 210px;
	float: left;
	padding: 10px;
	margin: 0px 10px;
}

.portfoliobg1 {
	background: url("../images/reveal-circle.png") center center no-repeat;
	background-size: cover;
}

.vcenter {
	margin-top: 60px;
	font-size: 20px;
	font-weight: 300;
	line-height: 22px;
	word-wrap: break-word;
}

.portfolio h3 {
	font-size: 30px;
	font-family: inherit;
	font-weight: 400;
	color: #ffa200;
	line-height: 21px;
	margin: 0 0 .35em;
	text-align: center;
}

.portfolio h4 {
	font-size: 20px;
	font-weight: 200;
	font-family: inherit;
	color: #fff;
	line-height: 21px;
	margin: 0 0 .35em;
	text-align: center;
}

.portfoliobg2 {
	background: url("../images/share-circle.png") center center no-repeat;
	background-size: cover;
}

.portfoliobg3 {
	background: url("../images/respond-circle.png") center center no-repeat;
	background-size: cover;
}

.portfoliobg4 {
	background: url("../images/experience-circle.png") center center no-repeat;
	background-size: cover;
}

.mL130 {
	margin-left: 130px;
}

.mT0B20 {
	margin-top: 0px;
	margin-bottom: 20px;
}

#about {
	padding-top: 70px;
	background-color: #f73f3f;
	height: 500px;
	font-size: 20px;
	font-weight: 100;
	font-family: Raleway,sans-serif;
	color: #fff;
}

.colorWhite {
	color: #fff;
}

.divisionLeft {
	width: 45%;
	float: left;
	text-align: center;
	padding:15px 15px;
}

.divisionRight {
	width: 45%;
	float: right;
	text-align: center;
	padding:15px 15px;
}

#contact {
	padding-bottom: 10PX;
	padding-top: 70px;
	background-color: #ffa200;
	height: 550px;
	font-size: 20px;
	font-weight: 100;
	font-family: Raleway,sans-serif;
	color: #fff;
}

.address {
	width: 288px;
	height: 288px;
	float: left;
	padding: 10px;
	margin: 15px 0px 0px 165px;
	background: url("../images/reveal-circle.png") center center no-repeat;
	background-size: cover;
}

.address h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

input, textarea, button {
	padding: 8px;
	margin: 10px;
	font-size: 14px;
	width: 60%;
	line-height: normal;
	vertical-align: baseline;
	font-family: Raleway,sans-serif;
	color: #2C3E50;
	display: inline-block;
}

footer {
	line-height: 1.4;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: Raleway,sans-serif;
	background-color: #15c1e5;
	padding: 25px 0px;
}

a {
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
	display: inline;
	padding: 25px 0px;
}