body {
	margin: 0px;
}
header {
	height:70px;
	background-color: #15c1e5;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.logo {
	float: left;
	display: block;
	font-size: 1.5em;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin-top: 25px;
	margin-right: 80px;
	margin-bottom: 25px;
	margin-left: 80px;
}
.menu{
	float: right;
	text-align: center;

}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 100px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 26px 16px;
	text-decoration: none;
	text-transform: uppercase;
}

.bgGreen {
	background-color: #9bba1f;
}
.bgRed {
	background-color: #f73f3f;
}

.bgyellow {
	background-color: #ffa200;
}

.hero {
	background: url("../images/computer-skills.jpg");
	position: relative;
	min-height: 450px;
	height: 100vh;
	z-index: -1;
	background-size: cover;
}

.circle {
	background: url(../images/user.jpg) center center no-repeat;
	background-size: cover;
	position: absolute;
	top: 40%
	left: 50%
	transform: translate(-50%,-50%);
	width: 20%
	height: 20vw;
	margin: 0 auto;
	border-radius: 50%;
}

.name {
	font-size: 3em;
	font-family: Raleway,sans-serif;
	font-weight: 700;
	color: #fff;
	display: block;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	top: 70%;
	left: 40%;
	text-align: center;
}

.skills {
	font-size: 1.75em;
	font-weight: 300;
	color: #fff;
	margin: 10px 0px 10px 0px;
	position: absolute;
}